@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik+Puddles&display=swap");
/* header 30; btn 15; timer 20; body 15; */

:root {
  --green: #c5f7eb;
}

body {
  margin: 0;
  max-height: 100vh;
  width: 100vw;
  font-family: Roboto Mono;
  font-size: 15px;
  overflow-x: hidden;
  padding: 3%;
  box-sizing: border-box;
}

.header-settings-container {
  display: flex;
  justify-content: space-between;
}

header {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  margin: 0% 0 1% 0;
  padding: 0;
}

.button-container {
  margin: 1% 0 1% 0;
  font-size: 15px;
  display: flex;
}

button {
  font-size: 15px;
  font-family: Roboto Mono;
  background-color: var(--green);
  border: 1px solid black;
  border-radius: 10px;
  height: 35px;
  width: 100px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button.active {
  top: 3px;
  left: 2px;
  box-shadow: none;
  background-color: white;
}

.timer,
.result {
  text-align: center;
  font-size: 20px;
  margin: 1% 0 1% 0%;
  height: 26.5px;
}

.new-quote-btn {
  margin-left: 3%;
}

.test-container {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.quotes-display {
  margin: 1% 0 1% 2%;
  max-height: 39px;
  overflow: hidden;
  /* overflow: scroll; */
}

.curWord {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.grayout {
  opacity: 0.3;
}

.input-container {
  margin: 2% 0 1% 0;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  border: 3px solid var(--green);
  outline: lightgray solid 1px;
  border-radius: 10px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px darkgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border: 1px solid darkgray;
  border-radius: 10px;
}

.tested-lines {
  margin: 1% 0 1% 4%;
}

.tested-line {
  display: flex;
  flex-wrap: wrap;
}

.cur-input-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 4%;
}

.quote-input-field {
  padding: 1% 0 1% 1%;
  min-width: 10%;
  border: 1px solid lightgray;
  height: 19.5px;
  border-radius: 5px;
}

.quote-input-field:focus {
  outline: none;
}

.tested-word {
  padding: 1% 0 1% 0%;
}

/* SETTINGS.JS */
.settings-menu {
  position: absolute;
  width: 50%;
  right: 4%;
  padding: 2%;
  background-color: #fdfd96;
  outline: black solid 1px;
  border-radius: 10px;
  z-index: 2;
}

h4 {
  margin: 0;
}

.lang-selection {
  width: 100%;
  height: 100%;
}

.lang-input-field {
  font-size: 15px;
  margin: 2% 0 2% 0%;
  padding: 1% 0 1% 1%;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
}

.lang-input-field:focus {
  outline: none;
}

.lang-list {
  position: absolute;
  background-color: white;
  padding: 2%;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 80%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
}

.hilight {
  background-color: #fdfd96;
  border-radius: 5px;
}

.time-button {
  width: 50px;
  margin: 2% 2% 2% 0%;
  cursor: pointer;
}
